section.etiquetage h2 {
    color: var(--title);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section.etiquetage img {
    width: 15%;
}

section.etiquetage p.parag1 {
    font-size: 1rem;
    color: var(--subtitle);
    margin-bottom: 1rem;
}

section.etiquetage h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--title);
    text-decoration: underline double var(--blue);
    margin-bottom: 1rem;
} 

section.etiquetage p.parag2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
}

section.etiquetage p.parag3 {
    color: var(--subtitle);
    line-height: 1.5rem;
    font-size: 1rem;
}

section.etiquetage p.parag3 button.read-more {
    color: var(--blue);
    margin-top: 0.8rem;
    transition: 0.3s;
}

section.etiquetage p.parag3 button.read-more:hover {
    cursor: pointer;
    text-decoration: underline;
}

section.etiquetage p.parag3 button.read-less {
    color: var(--blue);
    margin-top: 0.8rem;
    transition: 0.3s;
}

section.etiquetage p.parag3 button.read-less:hover {
    cursor: pointer;
    text-decoration: underline;
}


@media (max-width:700px) {
    section.etiquetage h2 {
        font-size: 1.8rem;
    }

    section.etiquetage img {
        width: 50%;
    }

    section.etiquetage p.parag1 {
        font-size: 0.8rem;
    }

    section.etiquetage h5 {
        font-size: 1.2rem;
    }

    section.etiquetage p.parag2 {
        font-size: 1.2rem;
    }

    section.etiquetage p.parag3 {
        font-size: 0.8rem;
    }
}