section.regime h2 {
    color: var(--title);
    font-size: 2.5rem;
    text-shadow: 2px 3px 1px rgb(29, 29, 29);
    margin-bottom: 1rem;
}

section.regime h4 {
    color: rgb(196, 175, 128);
    text-shadow: 2px 3px 1px rgb(29, 29, 29);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.accordion {
    border: 1px solid var(--border);
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    max-width: 600px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: var(--bgHeader);
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: var(--blue);
}

.accordion-header h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.accordion-header .icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    color: white;
}

.accordion-header .icon.rotate {
    transform: rotate(90deg);
}

.accordion-content {
    padding: 15px;
    border-top: 1px solid var(--border);
    display: none;
    font-size: 1em;
    color: white;
    background-color: rgb(60, 60, 60);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content-row {
    padding: 15px 0;
}

.content-title {
    flex: 1;
    text-align: left;
    line-height: 1.3rem;
}

section.regime p {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: var(--subtitle);
    margin: 2rem 0;
}

section.regime .btn {
    display: flex;
    justify-content: center;
}

section.regime button.download {
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 30px;
    background-color: var(--bgHeader);
    transition: 0.3s;
    color: white;
    font-size: 1.2rem;
}

section.regime button.download:hover {
    background-color: var(--blue);
}


@media (max-width:700px) {
    section.regime h2 {
        font-size: 1.8rem;
    }

    section.regime h4 {
        font-size: 1.2rem;
    }

    .accordion-header h3 {
        font-size: 1rem;
    }

    .accordion-header .icon {
        font-size: 0.8rem;
    }

    .accordion-content {
        font-size: 0.8rem;
    }

    section.regime p {
        font-size: 1rem;
    }

    section.regime button.download {
        padding: 10px;
        font-size: 0.9rem;
    }
}
