footer {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

footer ul {
    gap: 40px;
}

footer ul li a {
    color: var(--title);
    font-size: 0.9rem;
    font-weight: 700;
    transition: 0.3s;
}

footer ul li a:hover {
    color: var(--blue);
}

footer p {
    font-size: 0.7rem;
    color: var(--subtitle);
    opacity: 0.3;
}



@media (max-width:800px) {
    footer {
        flex-direction: column;
        gap: 2rem;
    }

    footer ul li a {
        font-size: 0.6rem;
    } 
}