@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primary: rgba(211, 183, 127, 0.921);
    --secondary: rgba(183, 138, 83, 0.815);
    --border: rgba(63, 63, 70, 0.4);
    --title: rgb(136, 113, 42);;
    --subtitle: black;
    --bgHeader: rgb(39, 39, 42);
    --blue: rgb(93, 188, 252);
    --iconHover: #d4d4d8;
}

body {
    background-color: var(--primary);
    color: #fff;
}

.container {
    background-color: var(--secondary);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4.5rem;
    border: 2px solid var(--border);
}

.divider {
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
    transition: 0.2s;
}

a:hover {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.border {
    border: 1px solid red;
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

button:active {
    scale: 0.7;
}

@media (max-width:1000px) {
    .container {
      width: 90%;
      padding: 0 1.7rem;
    }
}
  
@media (max-width:600px) {
    .container {
      width: 98%;
      padding: 0 1.7rem;
    }
}