section .a-propos h2 {
    color: var(--title);
    font-size: 2.5rem;
    text-shadow: 2px 3px 1px rgb(29, 29, 29);
    margin-bottom: 1rem;
}

section .a-propos p {
    color: var(--subtitle);
    line-height: 1.5rem;
    font-size: 1.3rem;
}

section .a-propos h4 {
    color: rgb(196, 175, 128);
    text-shadow: 2px 3px 1px rgb(29, 29, 29);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
}

section .a-propos .cereales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

section .a-propos .cereales p {
    color: var(--subtitle);
    line-height: 1.5rem;
    font-size: 1.3rem;
}

section .a-propos .cereales img {
    width: 20%;
    aspect-ratio: 2/2;
    mix-blend-mode: color-burn;
}

section .a-propos img {
    display: flex;
    width: 50%;
    margin: 2rem auto;
    border-radius: 20px;
}

section .a-propos .symptome-images {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

section .a-propos .symptome-images img {
    width: 20%;
    aspect-ratio: 2/2;
    mix-blend-mode:color-burn;
}

@media (max-width:700px) {
    section {
        flex-direction: column;
    }

    section .a-propos h2 {
        font-size: 1.8rem;
    }

    section .a-propos p {
        font-size: 0.8rem;
    }

    section .a-propos h4 {
        font-size: 1.2rem;
    }

    section .a-propos .cereales {
        flex-direction: column;
        align-items: start;
    }

    section .a-propos .cereales p {
        font-size: 0.8rem;
    }

    section .a-propos .cereales img {
        width: 50%;
    }

    section .a-propos img {
        width: 100%;
    }

    section .a-propos .symptome-images {
        flex-direction: column;
    }

    section .a-propos .symptome-images img {
        width: 50%;
    }
}